<progressbar ng-show="loadingBoughtItems" value="100" type="primary" class="progress-striped active"></progressbar>
<p ng-show="boughtitems.length<1">You have not bought any items yet. <a ui-sref="ecommerce.endingsoon">Shop around.</a></p>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                    <thead>
                    <tr>
                        <th data-toggle="true">Item</th>
                        <th>Sold by</th>
                        <th>Auction ended</th>
                        <th>Final Price</th>
                        <th data-sort-ignore="true">View</th>
                    </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="i in boughtitems track by i.itemID">
                            <td>{{i[0]}}</td>
                            <td>{{i[4]}}</td>
                            <td>{{i[7]}}</td>
                            <td>£{{i[9]}}</td>
                            <td data-ui-sref="ecommerce.details({auctionid:{{i[5]}}})" class="btn btn-primary"><i class="fa fa-eye"></i></td>
                            <td><button ng-click="goToURL(i[10], i[6])"  class="btn btn-xs btn-warning">Contact Seller </button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

