<div class="col-lg-12">
    <div  class="tabs-container">

        <tabset>
            <tab>
                <tab-heading>
                    Item information
                </tab-heading>
                <div  class="panel-body">
                    <form class="m-t" name="editForm" novalidate>
                        <fieldset class="form-horizontal">
                            <!--ITEM NAME -->
                            <div class="form-group"
                                 data-ng-class="{'has-success': editForm.name.$valid, 'has-error': editForm.name.$invalid && editForm.name.$dirty}">

                                <label class="col-sm-2 control-label">Name:</label>
                                <div class="col-sm-10">
                                    <input name="name" type="text" data-ng-model="editItem.itemname"
                                           data-ng-minlength="3"
                                           data-ng-maxlength="20"
                                           data-ng-trim="true"
                                           data-ng-required="true"
                                           class="form-control" placeholder="Apple iPhone">
                                </div>
                                <!--VALIDATION -->
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <p data-ng-show="editForm.name.$invalid && editForm.name.$dirty" class="help-block m-b-none has-error">Name not long enough.</p>
                                </div>

                            </div>
                            <!--ITEM CATEGORY-->
                            <div class="form-group"
                                 data-ng-class="{'has-success': editForm.category.$valid, 'has-error': editForm.category.$invalid && editForm.category.$dirty}">
                                <label class="col-sm-2 control-label">Category :</label>
                                <div class="col-sm-10">
                                    <select name="category" class="form-control" data-ng-model="editItem.itemcategory"
                                            ng-options="cat as cat.name for cat in categories track by cat.categoryID">
                                    </select>
                                </div>
                            </div>

                            <!--ITEM DESCRIPTION -->
                            <div class="form-group"
                                 data-ng-class="{'has-success': editForm.description.$valid, 'has-error': editForm.description.$invalid && editForm.description.$dirty}">

                                <label class="col-sm-2 control-label">Description:</label>
                                <div class="col-sm-10">
                                <textarea name="description" rows="5" data-ng-model="editItem.itemdescription" class="form-control"
                                          data-ng-minlength="3"
                                          data-ng-maxlength="1000"
                                          data-ng-trim="true"
                                          data-ng-required="true"
                                          class="form-control" placeholder="Gold edition iPhone with 32GB storage.">
                                </textarea>
                                </div>

                                <!--VALIDATION -->
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <p data-ng-show="editForm.description.$invalid && editForm.description.$dirty" class="help-block m-b-none has-error">Description must be more than 3 and less than 1000 chars.</p>
                                </div>
                            </div>
                            <!--ITEM CONDITION-->
                            <div class="form-group"
                                 data-ng-class="{'has-success': editForm.condition.$valid, 'has-error': editForm.condition.$invalid && editForm.condition.$dirty}">
                                <label class="col-sm-2 control-label">Condition :</label>
                                <div class="col-sm-10">
                                    <select name="condition" class="form-control" data-ng-model="editItem.itemcondition"
                                            ng-options="c as c.name for c in conditions track by c.conditionID">
                                    </select>
                                </div>
                            </div>

                            <!--IMAGES -->

                            <!--IMAGE UPLOADING -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Images :</label>
                                <div class="col-sm-10" flow-init flow-name="uploader.flow" flow-files-added="editItemProcessFiles($files)">
                                    <button flow-btn type="file" class="btn btn-primary">Upload Images</button>
                                    <br>
                                </div>
                            </div>

                                <div class="row">
                                    <div ng-show="editItemImageStrings.length>0" class="ibox-content col-sm-12">

                                        <carousel interval="editItemSlideInterval">
                                            <slide ng-repeat="image in editItemImageStrings track by $index">
                                                <img class="preview" ng-src="{{image}}" style="margin:auto;">
                                            </slide>
                                        </carousel>
                                    </div>
                                </div>

                            <br>

                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-danger" data-ui-sref="seller.draft">Cancel</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-primary" data-ng-click="editItem()">Update</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </tab>


        </tabset>
    </div>
</div>