<progressbar ng-show="loadingByCategory" value="100" type="primary" class="progress-striped active"></progressbar>
<p ng-show="auctions.length<1">There are currently no items on auction in this category at this moment. </p>

<div class="col-md-3" ng-repeat="(key,auction) in auctions track by $index">
    <div class="ibox">
        <div class="ibox-content product-box">

            <div class="product-imitation" data-ui-sref="ecommerce.details({auctionid:{{auction.auctionID}}})">
                <img class="img-responsive" src="{{auction.image}}">
            </div>
            <div class="product-desc">
                        <span class="product-bookmark">
                             <button type="button" data-ng-click="addBookmark(auction.auctionID)"><i class="fa fa-bookmark-o"></i></button>
                        </span>

                <strong>
                    £{{auction.auctionPrice}}
                </strong>
                <a class="product-name" style="font-size: 12px;" data-ui-sref="ecommerce.details({auctionid:{{auction.auctionID}}})">{{auction.name | limitTo: 30 }}</a>
                <small class="label"
                       ng-class="{ 'label-primary': getConditionName(auction.conditionID) === 'New', 'label-success': getConditionName(auction.conditionID) === 'Excellent',
                        'label-info': getConditionName(auction.conditionID) === 'Good', 'label-warning': getConditionName(auction.conditionID) === 'Average',
                        'label-danger': getConditionName(auction.conditionID) === 'Poor'}">{{getConditionName(auction.conditionID)}}</small>

                <div class="small m-t-xs">
                    <a class="text-muted" data-ui-sref="ecommerce.grid({categoryid:{{auction.categoryID}}})">{{getCategoryName(auction.categoryID)}}</a>
                </div>
                <div class="small m-t-xs">
                    End Date: {{auction.endDate | date:"dd MMMM, hh:mm"}}
                </div>
                <div class="m-t text-right">
                    <button type="button" data-ng-if="userType === 'Buyer'" data-ng-click="addBookmark(auction.auctionID)"><i class="fa fa-bookmark-o"></i></button>
                    <button data-ui-sref="ecommerce.bidhistory({bidhistoryauctionid:{{auction.auctionID}}, other:'{{auction.name}}'})" class="btn btn-xs btn-outline btn-primary">Bid History</button>
                    <button data-ng-if="userType === 'Buyer'" data-ui-sref="buyer.createbid({id:{{auction.auctionID}}, other:'{{auction.name}}'})" class="btn btn-xs btn-outline btn-primary">Place Bid</button>
                </div>
            </div>
        </div>
    </div>
</div>
