<!--USER PROFILE SECTION-->
<div class="col-md-4">
    <div class="widget-head-color-box navy-bg p-lg m-0 text-center">
        <div class="m-b-md">
            <h2>{{ tempUser.userName | limitTo: 20 }}</h2>
        </div>
        <img src="{{ tempUser.twProfileImage ? tempUser.twProfileImage : 'photo.png' }}" height="100" width="100" class="img-circle circle-border m-b-md" alt="profile">
        <div>
            <p><i class="fa fa-calendar m-r-sm"></i>{{ tempUser.userType }} since {{ tempUser.dateRegistered | date:"MMMM yyyy" }}</p>
        </div>
    </div>

    <div class="ibox float-e-margins" data-ng-if="tempUser.ratings">
        <div class="ibox-content profile-content">
            <div class="text-center">
                <div star-rating data-rating-value="tempUser.ratingsAvg" data-max="5" data-rating-total="tempUser.ratings.length"></div>
                <p>
                    Average Rating : {{ tempUser.ratingsAvg | limitTo: 4 }}
                </p>
            </div>

            <hr>
            <h4><strong>About me</strong></h4>
            <p><i class="fa fa-map-marker m-r-sm"></i><a target="_blank" href="{{ 'https://www.google.co.uk/maps/place/' + tempUser.city }}">&nbsp;{{ tempUser.city | limitTo: 30 }}</a></p>
            <p><i class="fa fa-calendar m-r-sm"></i>{{ tempUser.userType }} since {{ tempUser.dateRegistered | date:"MMMM yyyy" }}</p>
            <hr>
            <div class="user-button" data-ng-hide="ownProfile">
                <a class="btn btn-primary btn-block btn-sm" href="mailto:{{tempUser.emailAddress}}?Subject=EMART%20" target="_top"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Contact </a>
            </div>

        </div>
    </div>
</div>

<!--RATING SECTION-->
<div class="col-md-8">
    <h1 ng-if="tempUser.ratings.length<1">User has no ratings yet.</h1>
    <div class="ibox float-e-margins" ng-if="tempUser.ratings.length>0">
        <div class="ibox-title">
            <h5>User Ratings</h5>
        </div>
        <div class="ibox-content">
            <div>
                <div class="feed-activity-list">
                    <div class="feed-element" ng-repeat="r in tempUser.ratings">
                        <a data-ui-sref="profile({userID:{{r.userID}}})" class="pull-left">
                            <img alt="image" class="img-circle" src="{{ r.twProfileImage ? r.twProfileImage : 'photo.png' }}">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">
                                <span ng-repeat="rating in r.starRating" class="text-center">
                                    <div star-rating2 rating-value="r.starRating" max="5"></div>
                                </span>
                            </small>
                            <a data-ui-sref="profile({userID:{{r.userID}}})"><strong>{{ r.userName }}</strong></a> rated a product from <strong>{{ tempUser.userName }}</strong> with {{ r.starRating }} stars. <br>
                            <small class="text-muted">{{ r.created }}</small>
                            <div class="well">
                                {{ r.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>